[submodule "lvgl-sys/vendor/lvgl"]
	path = lvgl-sys/vendor/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lvgl-sys/rust-bindgen"]
	path = lvgl-sys/rust-bindgen
	url = /Users/khanson/Documents/repos/esp32/rust-bindgen/
